
/*новые*/
.mycontainer {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.list--logo {
    list-style: none;
    padding-left: 0;
}

.nav--link {
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-family: Gill Sans Nova;
    font-style: normal;
    font-size: 21px;
    line-height: 27px;

    color: #2C2B2B !important;
}

.telephony {
    font-size: 18px !important;
    line-height: 31px;
    color: #000000 !important;
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
}

.carousel-item img {
    height: 700px;
}

.Myindicators {
    bottom: 30% !important;
    left: 60% !important;
}

.Myindicators li {
    margin-right: 10px !important;
}

.phone span {
    margin-left: 5px;
}

.telephony {
    margin-left: 5px;
}

.btn.btn--viabr {
    color: #ffffff;
    border-radius: 20px;
    background: linear-gradient(90deg, #E49A10 0%, #EB441D 100%);
}

.btn.btn--viabr:hover {
    color: #ffffff;
}

nav .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 87, 15, 0.63);
}

.zakaz {
    color: #DB0000;
    font-size: 18px;
    line-height: 27px;
}

.zakaz:hover {
    color: #DB0000;
    text-decoration: none;
}

.main--filter {
    background-color: #ffffff;
    height: auto;
    bottom: 130px;
    position: relative;
    border-radius: 30px 90px 5px 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
}

.filters--form {
    padding: 30px;
}

.filters--form span {
    font-size: 30px;
}

.filters--form a, .filters--form a:hover {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.btn.btn--search, .btn.btn--search:hover {
    color: #ffffff;
    font-size: 20px;
    background-color: red;
}

.form-check span {
    font-size: 18px;
}

.cl {
    padding-top: 15px;
}

.btn-outline-secondary {
    border-color: #ced4da !important;
}

.button-ck input {
    display: none;
}

.left-block {
    border: 1px solid #ced4da;
}
.left-block h5{
    color: #DA222A;
    padding-bottom: 10px;
}
.left-block p{
    font-size: 18px;
    padding-bottom: 10px;
}
.news-staty{
    font-size: 18px;
    padding-top: 90px;
}
.Cost {
    font-size: 18px;
    color: #6c757d;
}

.Price {
    font-size: 18px;
    vertical-align: middle;
    line-height: 3;
}
.btn.btn-mycolor,.btn.btn-mycolor:hover {
    color: #FFFFFF;
    background-color: #DA222A
}
.card img{
    height: 230px;
}
.info-block{
    bottom: 80px;
    position: relative;
}
.info-block-slider-left{
    padding: 30px;
}
.carousel-indicators.block li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
    background-color:#DA222A;
    margin-right: 10px;
}
.carousel-inner{
    height: 500px;
}
.carousel-indicators.block{
    margin:0px;
    width: 50%;

}
.carousel-control-next.btn--next{
right: 50%;
    top: 470px;
    z-index: 999999;
}
.carousel-control-prev.btn--prev{
    top: 470px;
    z-index: 999999;
}
.carousel-control-next-icon.btn--icon{
background-image: url("/uploud/Group-right.svg");
}
.carousel-control-prev-icon.btn--icon{
background-image: url("/uploud/Group-left.svg");
}
.info--1 {
    color: #DA222A;
    font-size: 18px;
    margin: 40px 0px ;

}
.info-block-slider img{
    height: 530px;
    padding-top: 30px;
}
.info-block-slider{
    margin-top: 300px;
}
.carousel-inner.lop{
    height: 530px;
}
.carousel-control-next.btn-next{
    top: 42%;
    bottom: 42%;
    right: -6%;
}
.carousel-control-next-icon.btn-icon{
    background-image: url("/uploud/Ellipse.svg");
    width: 150px;
    height: 150px;
}
